<h1 class="title is-1">Groups</h1>
<h2 class="subtitle is-2">Click on a group to manage users.</h2>
@foreach (var group in ViewBag.Groups)
 {
    <p class="buttons are-small">
        <a asp-controller="Groups" asp-action="Members" asp-route-groupId="@group.Id">@group.Name  </a>
        <a asp-controller="Groups" asp-action="Update" asp-route-groupId="@group.Id"class="button is-primary">Update</a>
        <a asp-controller="Groups" asp-action="Delete" asp-route-groupId="@group.Id" class="button is-danger"
            onclick="return confirm('Are you sure you want to delete @group.Name?')">Delete</a>
    </p>
 }

<a asp-controller="Groups" asp-action="Add" class="button is-primary">Create a new Group</a>