@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <article class="message is-warning">
        <div class="message-header">
            <p>No Groups were found.</p>
        </div>
        <div class="message-body">
            @ViewBag.ErrorMessage
        </div>
    </article>
}

@if (ViewBag.Group != null)
{
    <h1 class="title is-1">Members in @ViewBag.Group.Name</h1>
    if (ViewBag.Group.GroupUsers.Count == 0)
    {
        <p>There are no Users currently in this group.</p>
    }
    else
    {
        foreach (var groupUser in ViewBag.Group.GroupUsers)
        {
            <p>
                @groupUser.User.FirstName
            </p>
        }
    }

    <a asp-controller="Groups" asp-action="AddMembers" asp-route-groupId="@ViewBag.Group.Id" asp-route-name="@ViewBag.Group.Name"
    class="button is-primary">Add Users to @ViewBag.Group.Name</a>
}
